## Notebook setup

In [1]:
# load the sql extension
%load_ext sql

In [2]:
# Create a connetion to mysql the formula_one database
%sql mysql+pymysql://root:password@localhost:3306/formula_one

Connecting to 'mysql+pymysql://root:***@localhost:3306/formula_one'

In [3]:
# Remove the jupysql's truncation limit
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [4]:
# Display all tables
%sql SHOW TABLES

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

14 rows affected.

+-----------------------+
| Tables_in_formula_one |
+-----------------------+
|        circuits       |
|  constructor_results  |
| constructor_standings |
|      constructors     |
|    driver_standings   |
|        drivers        |
|       lap_times       |
|       pit_stops       |
|       qualifying      |
|         races         |
|        results        |
|        seasons        |
|     sprint_results    |
|         status        |
+-----------------------+

## Circuits EDA

In [7]:
# Display the first 10 rows from the circuits table
%sql SELECT * FROM circuits LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

10 rows affected.

+-----------+----------------+--------------------------------+--------------+-----------+-----------+-----------+-----+-------------------------------------------------------------------------------------------------------------------------------------+
| circuitId |   circuitRef   |              name              |   location   |  country  |    lat    |    lng    | alt |                                                                 url                                                                 |
+-----------+----------------+--------------------------------+--------------+-----------+-----------+-----------+-----+-------------------------------------------------------------------------------------------------------------------------------------+
|     1     |  albert_park   | Albert Park Grand Prix Circuit |  Melbourne   | Australia | -37.84970 | 144.96800 |  10 |   <a href=http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit>http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit</a>   |
|     2     |     sepang     |  Sepang International Circuit  | Kuala Lumpur |  Malaysia |  2.76083  | 101.73800 |  18 |   <a href=http://en.wikipedia.org/wiki/Sepang_International_Circuit>http://en.wikipedia.org/wiki/Sepang_International_Circuit</a>   |
|     3     |    bahrain     | Bahrain International Circuit  |    Sakhir    |  Bahrain  |  26.03250 |  50.51060 |  7  |  <a href=http://en.wikipedia.org/wiki/Bahrain_International_Circuit>http://en.wikipedia.org/wiki/Bahrain_International_Circuit</a>  |
|     4     |   catalunya    | Circuit de Barcelona-Catalunya |   Montmeló   |   Spain   |  41.57000 |  2.26111  | 109 | <a href=http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya>http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya</a> |
|     5     |    istanbul    |         Istanbul Park          |   Istanbul   |   Turkey  |  40.95170 |  29.40500 | 130 |                  <a href=http://en.wikipedia.org/wiki/Istanbul_Park>http://en.wikipedia.org/wiki/Istanbul_Park</a>                  |
|     6     |     monaco     |       Circuit de Monaco        | Monte-Carlo  |   Monaco  |  43.73470 |  7.42056  |  7  |              <a href=http://en.wikipedia.org/wiki/Circuit_de_Monaco>http://en.wikipedia.org/wiki/Circuit_de_Monaco</a>              |
|     7     |   villeneuve   |   Circuit Gilles Villeneuve    |   Montreal   |   Canada  |  45.50000 | -73.52280 |  13 |      <a href=http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve>http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve</a>      |
|     8     |  magny_cours   | Circuit de Nevers Magny-Cours  | Magny Cours  |   France  |  46.86420 |  3.16361  | 228 |  <a href=http://en.wikipedia.org/wiki/Circuit_de_Nevers_Magny-Cours>http://en.wikipedia.org/wiki/Circuit_de_Nevers_Magny-Cours</a>  |
|     9     |  silverstone   |      Silverstone Circuit       | Silverstone  |     UK    |  52.07860 |  -1.01694 | 153 |            <a href=http://en.wikipedia.org/wiki/Silverstone_Circuit>http://en.wikipedia.org/wiki/Silverstone_Circuit</a>            |
|     10    | hockenheimring |         Hockenheimring         |  Hockenheim  |  Germany  |  49.32780 |  8.56583  | 103 |                 <a href=http://en.wikipedia.org/wiki/Hockenheimring>http://en.wikipedia.org/wiki/Hockenheimring</a>                 |
+-----------+----------------+--------------------------------+--------------+-----------+-----------+-----------+-----+-------------------------------------------------------------------------------------------------------------------------------------+

In [21]:
%%sql
-- Count the number of countries
SELECT
    COUNT(DISTINCT(country)) AS no_of_countries
FROM circuits;

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

1 rows affected.

+-----------------+
| no_of_countries |
+-----------------+
|        34       |
+-----------------+

In [23]:
%%sql
-- Count the number of circuits per country
SELECT
    DISTINCT(country),
    COUNT(circuitId) AS no_of_circuits
FROM circuits
GROUP BY country
ORDER BY no_of_circuits DESC
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

10 rows affected.

+----------+----------------+
| country  | no_of_circuits |
+----------+----------------+
|   USA    |       12       |
|  France  |       7        |
|  Spain   |       6        |
| Portugal |       4        |
|  Italy   |       4        |
|    UK    |       4        |
|  Japan   |       3        |
|  Canada  |       3        |
| Germany  |       3        |
| Belgium  |       3        |
+----------+----------------+

Why do we have `USA` and `United States` as separate countries?

In [9]:
%%sql
-- Inspect circuits in the USA
SELECT name, location, country
FROM circuits
WHERE country IN ("USA", "United States");

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

12 rows affected.

+---------------------------------+----------------+---------------+
|               name              |    location    |    country    |
+---------------------------------+----------------+---------------+
|   Indianapolis Motor Speedway   |  Indianapolis  |      USA      |
|      Phoenix street circuit     |    Phoenix     |      USA      |
|      Detroit Street Circuit     |    Detroit     |      USA      |
|            Fair Park            |     Dallas     |      USA      |
|            Long Beach           |   California   |      USA      |
|     Las Vegas Street Circuit    |     Nevada     |      USA      |
|           Watkins Glen          | New York State |      USA      |
| Riverside International Raceway |   California   |      USA      |
|  Sebring International Raceway  |    Florida     |      USA      |
|     Circuit of the Americas     |     Austin     |      USA      |
|  Miami International Autodrome  |     Miami      |      USA      |
|  Las Vegas Strip Street Circuit |   Las Vegas    | United States |
+---------------------------------+----------------+---------------+

In [11]:
# Update the datapoint on Las vegas strip street circuit with country as USA

In [12]:
%%sql
-- Inspect circuits in the USA
SELECT name, location, country
FROM circuits
WHERE country IN ("USA", "United States");

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

12 rows affected.

+---------------------------------+----------------+---------+
|               name              |    location    | country |
+---------------------------------+----------------+---------+
|   Indianapolis Motor Speedway   |  Indianapolis  |   USA   |
|      Phoenix street circuit     |    Phoenix     |   USA   |
|      Detroit Street Circuit     |    Detroit     |   USA   |
|            Fair Park            |     Dallas     |   USA   |
|            Long Beach           |   California   |   USA   |
|     Las Vegas Street Circuit    |     Nevada     |   USA   |
|           Watkins Glen          | New York State |   USA   |
| Riverside International Raceway |   California   |   USA   |
|  Sebring International Raceway  |    Florida     |   USA   |
|     Circuit of the Americas     |     Austin     |   USA   |
|  Miami International Autodrome  |     Miami      |   USA   |
|  Las Vegas Strip Street Circuit |   Las Vegas    |   USA   |
+---------------------------------+----------------+---------+

In [39]:
%%sql
-- Compute summary stats on country altitudes
SELECT
    DISTINCT(country) AS country_name,
    COUNT(circuitId) AS no_of_circuits,
    MIN(alt) AS lowest_alt,
    MAX(alt) AS highest_alt,
    AVG(alt) AS mean_alt
FROM circuits
GROUP BY country_name
HAVING no_of_circuits >= 3
ORDER BY no_of_circuits DESC;

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

10 rows affected.

+--------------+----------------+------------+-------------+----------+
| country_name | no_of_circuits | lowest_alt | highest_alt | mean_alt |
+--------------+----------------+------------+-------------+----------+
|     USA      |       12       |     0      |     642     | 275.9167 |
|    France    |       7        |     67     |     790     | 310.0000 |
|    Spain     |       6        |     4      |     609     | 153.8333 |
|      UK      |       4        |     20     |     153     | 101.5000 |
|    Italy     |       4        |     37     |     255     | 145.7500 |
|   Portugal   |       4        |     28     |     158     | 106.0000 |
|    Canada    |       3        |     13     |     332     | 186.3333 |
|   Germany    |       3        |     53     |     578     | 244.6667 |
|   Belgium    |       3        |     36     |     401     | 192.0000 |
|    Japan     |       3        |     45     |     583     | 298.0000 |
+--------------+----------------+------------+-------------+----------+

In [46]:
%%sql
SELECT name, alt 
FROM circuits
WHERE alt < 0 
AND country = "USA";

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

+------+-----+
| name | alt |
+------+-----+
+------+-----+

In [41]:
%%sql
-- circuit altitude outliers
SELECT name AS circuit, location, country, lng, lat, alt
FROM circuits
WHERE alt < -453 OR alt > 803

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

3 rows affected.

+---------------------------------------+----------------+--------------+-----------+-----------+------+
|                circuit                |    location    |   country    |    lng    |    lat    | alt  |
+---------------------------------------+----------------+--------------+-----------+-----------+------+
|                Kyalami                |    Midrand     | South Africa |  28.07670 | -25.98940 | 1460 |
|      Autódromo Hermanos Rodríguez     |  Mexico City   |    Mexico    | -99.09070 |  19.40420 | 2227 |
| Autódromo Internacional Nelson Piquet | Rio de Janeiro |    Brazil    | -43.39500 | -22.97560 | 1126 |
+---------------------------------------+----------------+--------------+-----------+-----------+------+

![Distribution of circuit altitudes](../assets/circuit_altitude_distributions.png)

## Driver's EDA

In [52]:
%%sql
SELECT
    COUNT(driverId) AS no_of_drivers
FROM drivers;

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

1 rows affected.

+---------------+
| no_of_drivers |
+---------------+
|      859      |
+---------------+

There's a total of `859` drivers in the drivers entity.

In [58]:
%%sql
-- Get the driver's ages
SELECT
    forename,
    surname,
    TIMESTAMPDIFF(YEAR, dob, CURDATE()) AS age,
    url
FROM drivers
ORDER BY age
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

10 rows affected.

+----------+------------+-----+-------------------------------------------------------------------------------------------------------+
| forename |  surname   | age |                                                  url                                                  |
+----------+------------+-----+-------------------------------------------------------------------------------------------------------+
|  Oliver  |  Bearman   |  19 |  <a href=http://en.wikipedia.org/wiki/Oliver_Bearman>http://en.wikipedia.org/wiki/Oliver_Bearman</a>  |
|   Liam   |   Lawson   |  22 |     <a href=http://en.wikipedia.org/wiki/Liam_Lawson>http://en.wikipedia.org/wiki/Liam_Lawson</a>     |
|  Logan   |  Sargeant  |  23 |  <a href=http://en.wikipedia.org/wiki/Logan_Sargeant>http://en.wikipedia.org/wiki/Logan_Sargeant</a>  |
|  Oscar   |  Piastri   |  23 |   <a href=http://en.wikipedia.org/wiki/Oscar_Piastri>http://en.wikipedia.org/wiki/Oscar_Piastri</a>   |
|  Lando   |   Norris   |  24 |    <a href=http://en.wikipedia.org/wiki/Lando_Norris>http://en.wikipedia.org/wiki/Lando_Norris</a>    |
|   Yuki   |  Tsunoda   |  24 |    <a href=http://en.wikipedia.org/wiki/Yuki_Tsunoda>http://en.wikipedia.org/wiki/Yuki_Tsunoda</a>    |
|   Mick   | Schumacher |  25 | <a href=http://en.wikipedia.org/wiki/Mick_Schumacher>http://en.wikipedia.org/wiki/Mick_Schumacher</a> |
|  Nikita  |  Mazepin   |  25 |  <a href=http://en.wikipedia.org/wiki/Nikita_Mazepin>http://en.wikipedia.org/wiki/Nikita_Mazepin</a>  |
|  Guanyu  |    Zhou    |  25 |     <a href=http://en.wikipedia.org/wiki/Zhou_Guanyu>http://en.wikipedia.org/wiki/Zhou_Guanyu</a>     |
|  Lance   |   Stroll   |  25 |    <a href=http://en.wikipedia.org/wiki/Lance_Stroll>http://en.wikipedia.org/wiki/Lance_Stroll</a>    |
+----------+------------+-----+-------------------------------------------------------------------------------------------------------+

In [59]:
%%sql
-- Get the no of drivers by country name
SELECT
    nationality,
    COUNT(driverId) AS no_of_drivers
FROM drivers
GROUP BY nationality
ORDER BY no_of_drivers DESC
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/formula_one'

10 rows affected.

+---------------+---------------+
|  nationality  | no_of_drivers |
+---------------+---------------+
|    British    |      166      |
|    American   |      158      |
|    Italian    |       99      |
|     French    |       73      |
|     German    |       50      |
|   Brazilian   |       32      |
|   Argentine   |       24      |
|     Swiss     |       23      |
|    Belgian    |       23      |
| South African |       23      |
+---------------+---------------+